# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Testing
**/coverage

# Production
**/build
**/dist
**/public

# Misc
**/.DS_Store
**/.env*
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# IDE
**/.idea
**/.vscode
**/*.swp
**/*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Lerna
**/lerna-debug.log*

# Keep only necessary files
!examples/gatsby-minimal-starter/package.json
!examples/gatsby-minimal-starter/src
!examples/gatsby-minimal-starter/gatsby-config.js
!examples/gatsby-minimal-starter/tsconfig.json 